//- mixins_inc.pug

mixin register_user_link
    a(href="login.html" class="btn btn-primary btn-user btn-block") Register Account


mixin forgot_password_link
    a(href="forgot-password.html" class="small") Forgot Password?


mixin login_link
    a(href="login.html" class="small") Already have an account? Login!


mixin helloworld
    p helloworld



mixin bottom_divider
    <hr class="sidebar-divider d-none d-md-block">





mixin forgot_password_card_body
    //- forgot_password_card_body
    .row
        div(class="col-lg-6 d-none d-lg-block bg-password-image")
        div(class="col-lg-6")
            div(class="p-5")
                div(class="text-center")
                    h1(class="h4 text-gray-900 mb-2") Forgot Your Password?
                    p.mb-4 We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!

                form.user
                    div(class="form-group")
                        input(type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...")
                    a(href="login.html" class="btn btn-primary btn-user btn-block") Reset Password
                    </a>
                <hr>
                div(class="text-center")
                    a(class="small" href="register.html") Create an Account!

                div(class="text-center")
                    a(class="small" href="login.html") Already have an account? Login!


mixin register_form_text(input_type ,id, placeholder)
    input(type!= input_type class="form-control form-control-user" id!= id placeholder!= placeholder)


mixin topbar_form_text(placeholder)
    input(type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2" placeholder!= placeholder)


mixin sidebar_toggle
    button#sidebarToggleTop(class="btn btn-link d-md-none rounded-circle mr-3")
        i.fa-bars(class="fa")


mixin register_login_card_body
    //- register_login_card_body
    .row
        div(class="col-lg-5 d-none d-lg-block bg-register-image")
        div(class="col-lg-7")
            div(class="p-5")
                div(class="text-center")
                    h1(class="h4 text-gray-900 mb-4") Create an Account!
                form.user
                    div.row.form-group
                        div(class="col-sm-6 mb-3 mb-sm-0")
                            +register_form_text("text", "exampleFirstName", "First Name")

                        div(class="col-sm-6")
                            +register_form_text("text", "exampleFirstName", "Last Name")

                    div(class="form-group")
                        +register_form_text("email", "exampleInputEmail", "Email Address")

                    div(class="form-group row")
                        div(class="col-sm-6 mb-3 mb-sm-0")
                            +register_form_text("password", "exampleInputPassword", "Password")

                        div(class="col-sm-6")
                            +register_form_text("password", "exampleRepeatPassword", "Repeat Password")

                    +register_user_link
                    <hr>
                    +register_google_btn
                    +register_facebook_btn
                <hr>
                div(class="text-center")
                    +forgot_password_link
                div(class="text-center")
                    +login_link


mixin login_card_body
    //- login_card_body
    .row
        div(class="col-lg-6 d-none d-lg-block bg-login-image")
        div(class="col-lg-6")
            div(class="p-5")
                div(class="text-center")
                    h1(class="h4 text-gray-900 mb-4") Welcome Back!

                form.user
                    .form-group
                        +username_textbox("Enter Email Address...")

                    .form-group
                        +password_textbox("Password")

                    .form-group
                        +tick_box("Remember Me")

                    +login_btn("Login","login.html")

                    +social_login_btn("fa-google","Login with Google","index.html")
                    +social_login_btn("fa-facebook-f","Login with Facebook","index.html")

                <hr>
                +link_btn("Forgot Password?","forgot-password.html")
                +link_btn("Create an Account!","register.html")


mixin register_google_btn
    a(href="index.html" class="btn btn-google btn-user btn-block")
        i(class="fab fa-google fa-fw")
        p Register with Google


mixin register_facebook_btn
    a(href="index.html" class="btn btn-facebook btn-user btn-block")
        i(class="fab fa-facebook fa-fw")
        p Register with Facebook


mixin link_btn(btn_text, btn_href)
    div(class="text-center")
        a(class="small" href!= btn_href)= btn_text


mixin social_login_btn(btn_icon, btn_text, btn_href)
    a(href!= btn_href class="btn btn-facebook btn-user btn-block")= btn_text

            //- i.fab.fa-fw(class!= btn_icon)

mixin tick_box(text)
    div(class="custom-control custom-checkbox small")
        input(type="checkbox" class="custom-control-input" id="customCheck")
        label(class="custom-control-label" for="customCheck")= text

mixin username_textbox(text_placeholder)
    input(type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder!= text_placeholder)

mixin password_textbox(text_placeholder)
    input(type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder!= text_placeholder)

mixin login_btn(login_text, login_href)
    a(href!= login_href class="btn btn-primary btn-user btn-block")= login_text


mixin scroll_to_top_btn
    a(class="scroll-to-top rounded" href="#page-top")
        i(class="fas fa-angle-up")



mixin buttons_page_content
    p buttons-page-content


mixin card_title(text_title)
    div(class="card-header py-3")
        h6(class="m-0 font-weight-bold text-primary")= text_title

mixin card_desc(text_desc)
    div= text_desc

mixin card_template(title, desc)
    .card(class="shadow mb-4")
        +card_title(title)
        .card-body
            block
