//- sidebar.pug

mixin menu_label(menu_text, menu_icon, controls, targets)
    a(class="nav-link collapsed" href="#" data-toggle="collapse" data-target!= targets aria-expanded="true" aria-controls!= controls)
        i.fas.fa-fw(class!= menu_icon)
        span= menu_text


mixin collapse_header(header_text)
    h6.collapse-header= header_text


mixin sidebar_brand(brand_text, brand_href)
    a(class="sidebar-brand d-flex align-items-center justify-content-center" href!= brand_href)
        .sidebar-brand-icon(class="rotate-n-15")
            i(class="fas fa-laugh-wink")
        div(class="sidebar-brand-text mx-3")= brand_text


mixin sidebar_divider_my0
    <hr class="sidebar-divider my-0">

mixin sidebar_divider
    <hr class="sidebar-divider">

mixin sidebar_heading(heading_text)
    .sidebar-heading= heading_text


mixin menu_components
    li.nav-item
        +menu_label("Components","fa-cog", "collapseTwo", "#collapseComponents")
        div(id="collapseComponents" class="collapse" aria-labelledby="headingComponents" data-parent="#accordionSidebar")
            div(class="bg-white py-2 collapse-inner rounded")
                +collapse_header("Custom Components:")
                a.collapse-item(href="buttons.html") Buttons
                a.collapse-item(href="cards.html") Cards

mixin menu_utilities
    li.nav-item
        +menu_label("Utilities","fa-wrench", "collapseTwo", "#collapseUtilities")
        div(id="collapseUtilities" class="collapse collapsed" aria-labelledby="headingUtilities" data-parent="#accordionSidebar")
            div(class="bg-white py-2 collapse-inner rounded")
                h6.collapse-header Custom Utilities:
                +menu_2nd_level("Colors", "utilities-color.html")
                +menu_2nd_level("Borders", "utilities-border.html")
                +menu_2nd_level("Animations", "utilities-animation.html")
                +menu_2nd_level("Other", "utilities-other.html")


mixin menu_pages(expanded)
    li.nav-item
        +menu_label("Pages","fa-folder", "collapseTwo", "#collapsePages")
        div(id="collapsePages" class="collapse collapsed" aria-labelledby="headingPages" data-parent="#accordionSidebar")
            div(class="bg-white py-2 collapse-inner rounded")
                h6.collapse-header Login Screens:
                a.collapse-item(href="login.html") Login
                a.collapse-item(href="register.html") Register
                a.collapse-item(href="forgot-password.html") Forgot Password
                +collapse_divider
                +collapse_header("Other Pages:")
                a.collapse-item(href="404.html") 404 Page
                a.collapse-item(href="blank.html") Blank Page

mixin sidebar_toggler
    div(class="text-center d-none d-md-inline")
        button#sidebarToggle(class="rounded-circle border-0")

mixin menu_1st_level(menu_text, menu_href, inside_text)
    a(class="collapse-item" href="menu_href")= menu_text


mixin menu_2nd_level(menu_text, menu_href)
    a(class="collapse-item" href="menu_href")= menu_text

mixin collapse_divider
    .collapse-divider


mixin menu_charts
    +menu_button("Charts","fa-chart-area","charts.html")

mixin menu_tables
    +menu_button("Tables","fa-table","tables.html")

mixin menu_button(menu_text, menu_icon, menu_href)
    li.nav-item
        a(class="nav-link" href!= menu_href)
            i.fas.fa-fw(class!= menu_icon)
            span= menu_text


ul#accordionSidebar(class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion")

    +sidebar_brand("SB Admin <sup>2</sup>", "index.html")

    <!-- Divider -->
    +sidebar_divider_my0

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
    <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    +sidebar_divider
    +sidebar_heading("Interface")

    <!-- Nav Item - Pages Collapse Menu -->
    +menu_components

    //- <!-- Nav Item - Utilities Collapse Menu -->
    +menu_utilities
    +sidebar_divider

    +sidebar_heading("Addons")
    +menu_pages
    +menu_charts
    +menu_tables

    //- <!-- Divider -->
    <!-- Sidebar Toggler (Sidebar) -->
    +sidebar_divider
    +sidebar_toggler
